{{ partial "head.html" . }}

<body>
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		{{ partial "header.html" . }}
		<main class="mdl-layout__content">
			<div class="page-content">
				<div class="mdl-grid">
					<div class="mdl-cell mdl-cell--3-col">
						{{ partial "menu.html" . }}
					</div>
					<div class="mdl-cell mdl-cell--9-col">
						{{ range where .Data.Pages "Title" "Index" }}
							{{ .Content }}
						{{ end }}
					</div>
				</div>
			</div>
			{{ partial "footer.html" . }}
		</main>
	</div>
</body>

</html>
