<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page_description %}<meta name="description" content="{{ page_description }}">{% endif %}
    {% if site_author %}<meta name="author" content="{{ site_author }}">{% endif %}
    {% if canonical_url %}<link rel="canonical" href="{{ canonical_url }}">{% endif %}
    {% if favicon %}<link rel="shortcut icon" href="{{ favicon }}">
    {% else %}<link rel="shortcut icon" href="{{ base_url }}/img/favicon.ico">{% endif %}

    <title>{% if page_title %}{{ page_title }} - {% endif %}{{ config.extra.site_title }}</title>

    <link href="{{ base_url }}/css/bootstrap-custom.min.css" rel="stylesheet">
    <link href="{{ base_url }}/css/font-awesome-4.0.3.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/tomorrow-night.min.css">
    <link href="{{ base_url }}/css/base.css" rel="stylesheet">
    <link href="{{ base_url }}/css/echo.css" rel="stylesheet">
    {%- for path in extra_css %}
    <link href="{{ path }}" rel="stylesheet">
    {%- endfor %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    {% if google_analytics %}
    <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', '{{ google_analytics[0] }}', '{{ google_analytics[1] }}');
            ga('send', 'pageview');
        </script>
    {% endif %}
</head>

<body>

{% include "nav.html" %}

<div class="container">
    <div class="col-md-3">{% include "toc.html" %}</div>
    <div class="col-md-9" role="main">{% include "content.html" %}</div>
</div>

<footer class="col-md-12">
    <hr>
    <center class="social">
        <a href="https://github.com/labstack" target="_blank">
            <i class="fa fa-github fa-2x"></i>
        </a>
        <a href="https://twitter.com/labstack" target="_blank">
            <i class="fa fa-twitter fa-2x"></i>
        </a>
        <a href="https://www.facebook.com/labstack" target="_blank">
            <i class="fa fa-facebook fa-2x"></i>
        </a>
    </center>
    {% if copyright %}
    <center>{{ copyright }}</center>
    {% endif %}
</footer>

<script src="{{ base_url }}/js/jquery-1.10.2.min.js"></script>
<script src="{{ base_url }}/js/bootstrap-3.0.3.min.js"></script>
<script src="{{ base_url }}/js/highlight.pack.js"></script>
<script src="{{ base_url }}/js/base.js"></script>
{%- for path in extra_javascript %}
<script src="{{ path }}"></script>
{%- endfor %}
</body>
</html>
