language: go
go:
    - 1.7
    - 1.8
    - tip
install:
    - go get golang.org/x/tools/cmd/cover
    - go get github.com/Masterminds/glide
    - go get github.com/mattn/goveralls
    - go get github.com/modocache/gover
    - glide install
script:
    - go test -coverprofile=echo.coverprofile
    - go test -coverprofile=middleware.coverprofile ./middleware
    - gover
    - goveralls -coverprofile=gover.coverprofile -service=travis-ci
matrix:
  allow_failures:
    - go: tip
