a {
    color: #c05b4d;
    text-decoration: none
}
a:hover, a:focus {
    color: #a5473a;
    text-decoration: underline
}

textarea:focus, input:focus{
    outline: none;
}

blockquote {
    margin-left: 0;
}

/* Theme */
.w3-theme-l5 {color:#000 !important; background-color:#edfcff !important}
.w3-theme-l4 {color:#000 !important; background-color:#c3f5ff !important}
.w3-theme-l3 {color:#000 !important; background-color:#87ebff !important}
.w3-theme-l2 {color:#000 !important; background-color:#4ae1ff !important}
.w3-theme-l1 {color:#fff !important; background-color:#0ed7ff !important}
.w3-theme-d1 {color:#fff !important; background-color:#009dbc !important}
.w3-theme-d2 {color:#fff !important; background-color:#008ba7 !important}
.w3-theme-d3 {color:#fff !important; background-color:#007a92 !important}
.w3-theme-d4 {color:#fff !important; background-color:#00697d !important}
.w3-theme-d5 {color:#fff !important; background-color:#005769 !important}

.w3-theme-light {color:#000 !important; background-color:#edfcff !important}
.w3-theme-dark {color:#fff !important; background-color:#005769 !important}
.w3-theme-action {color:#fff !important; background-color:#005769 !important}

.w3-theme {color:#fff !important; background-color:#00afd1 !important}
.w3-text-theme {color:#00afd1 !important}
.w3-border-theme {border-color:#00afd1 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#00afd1 !important}
.w3-hover-text-theme {color:#00afd1 !important}
.w3-hover-border-theme:hover {border-color:#00afd1 !important}

.w3-navbar {
  z-index: 2;
  /*padding: 0 16px;
  padding-top: 8px;*/

}

.w3-sidenav {
  width: 250px;
  padding: 72px 32px 32px;
}

.w3-sidenav a {
  color: #000;
}

.w3-main {
  margin-left: 250px;
  padding: 0 16px;
}

.navbar {
  top: 0;
  position: fixed;
  z-index: 2;
  background: #FFF;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 32px;
  border-bottom: 1px solid #F1F1F1;
}

.logo {
  height: 30px;
}

/* Footer */
.footer {
    color: grey;
    font-weight: 300;
    border-top: 1px solid #F1F1F1;
}
a.icon {
    text-decoration: none;
}
.icon {
    padding: 4px;
    font-size: 20px;
}
.icon>i {
    color: grey;
}

/* Gitter */
.gitter-open-chat-button {
    background-color: #00AFD1;
    transition: all .2s ease;
}
.gitter-open-chat-button:hover {
    background-color: #009DBC;
}

/* Algolia */
/* http://vuejs.org/css/page.css */
.aa-dropdown-menu {
  margin-top: 40px;
  border-color: #999;
}
.algolia-docsearch-footer {
  border-color: #DDD;
}
.algolia-docsearch-suggestion--subcategory-column {
  border-color: #DDD;
}
.algolia-docsearch-suggestion--category-header {
    background-color: #00AFD1;
}
.algolia-docsearch-suggestion--highlight {
    color: #008BA7;
}
.algolia-docsearch-suggestion--category-header .algolia-docsearch-suggestion--highlight {
    background-color: #009DBC;
}
.aa-cursor .algolia-docsearch-suggestion--content {
    color: #D44C70;
}
.aa-cursor .algolia-docsearch-suggestion {
    background: #F5F5F5;
}

.w3-sidenav a:hover,
.w3-sidenav .active {
  background: #00AFD1;
  color: #FFF;
}

#search-menu {
  position: fixed !important;
  top: 10%;
  left: 25%;
}

.ad {
  width: 130px;
  position: fixed;
  bottom: 8px;
  right: 32px;
  margin: 0;
  font-size: 12px;
}

.ad a {
  color: #7F8C8D;
}

#carbonads {
  display: block;
  overflow: hidden;
  /*padding: 1em;*/
}

#carbonads span {
  display: block;
  overflow: hidden;
}

.carbon-img {
  display: block;
  margin: 0 auto 1em;
  text-align: center;
}

.carbon-text {
  display: block;
  margin-bottom: 1em;
  text-align: left;
}

.carbon-poweredby {
  display: block;
  text-align: right;
  font-size: .8em;
}

@media (max-width: 600px) {
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 16px;
  }

  .ad {
    position: relative;
    width: 100%;
    right: 0;
    padding: 0 16px;
  }

  #carbonads span {
    position: relative;
    display: block;
    overflow: hidden;
  }

  .carbon-img {
    float: left;
    margin-right: 1em;
  }

  .carbon-img img {
    display: block;
  }

  .carbon-text {
    display: block;
    float: left;
    max-width: calc(100% - 130px - 1em);
    text-align: left;
  }

  .carbon-poweredby {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    font-size: .8em;
  }
}

a.support {
  display: inline-block;
  padding: 6px 16px;
}

/* Notice*/
.notice a {
    color: inherit;
    text-decoration: underline;
}
.notice a:hover, .notice a:focus {
    color: inherit;
    text-decoration: underline;
}
