{{ partial "head.html" . }}
<body>
    {{ . }}
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        {{ partial "header.html" . }}
        <main class="mdl-layout__content">
            <div class="page-content single">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--3-col">
                        {{ partial "menu.html" . }}
                    </div>
                    <div class="mdl-cell mdl-cell--9-col">
                        <article>
                            <header>
                                <h2>{{ .Title }}</h2>
                            </header>
                            <section class="content">
                                {{ .Content }}
                            </section>
                            <footer style="margin-top: 80px;">
                                <div id="disqus_thread"></div>
                                <script type="text/javascript">
                                    /* * * CONFIGURATION VARIABLES * * */
                                    var disqus_shortname = 'labstack';

                                    /* * * DON'T EDIT BELOW THIS LINE * * */
                                    (function() {
                                        var dsq = document.createElement('script');
                                        dsq.type = 'text/javascript';
                                        dsq.async = true;
                                        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                                    })();
                                </script>
                            </footer>
                        </article>
                    </div>
                </div>
            </div>
            {{ partial "footer.html" . }}
        </main>
    </div>
</body>

</html>
