<header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
        <a href="https://labstack.com" class="mdl-navigation__link mdl-layout-title">
            <img src="/images/logo.svg" alt="LabStack">
        </a>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a href="https://github.com/labstack/echo" class="mdl-navigation__link">
                <i class="fa fa-github fa-2x"></i>
            </a>
        </nav>
    </div>
</header>
