<header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
        <a href="{{ .Site.BaseURL }}" class="mdl-navigation__link mdl-layout-title">
            <img src="/images/logo.svg" alt="LabStack">
        </a>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a href="https://github.com/labstack/echo" class="mdl-navigation__link">
                <i class="fa fa-github fa-2x"></i>
            </a>
        </nav>
    </div>
</header>
<div style="padding: 4px; text-align: center; background: #ff851b; color: #fff;">
    This is Echo v2 website. If you are looking for v1 docs, they can be found <a style=
"color: #fff;" href="https://github.com/labstack/echo/tree/v1/website/content"><b>here</b>.</a>
</div>
