<nav class="w3-sidenav">
  {{ $currentNode := . }}
  {{ range .Site.Menus.side }}
    <h4>{{ .Pre }} {{ .Name }}</h4>
      {{ range .Children }}
        <a{{ if $currentNode.IsMenuCurrent "side" . }} class="w3-theme"{{ end }} href="{{ .URL }}">
          {{ .Name }}
        </a>
        {{ if .HasChildren }}
          {{ range .Children }}
            <a {{ if $currentNode.IsMenuCurrent "side" . }} class="w3-theme"{{ end }} href="{{ .URL }}">
              {{ .Name }}
            </a>
          {{ end }}
        {{ end }}
      {{ end }}
  {{ end }}
</nav>
