<nav class="navbar">
  <a href="/"><img class="logo" src="/images/logo.png" alt="Echo"></a>
  <span class="w3-hide-small w3-hide-medium">
    <input id="search-box" type="text" class="w3-input" placeholder="Search...">
    <i class="fa fa-search"></i>
  </span>
  <a class="github-button" href="https://github.com/labstack/echo" data-icon="octicon-star" data-style="mega" data-count-href="/labstack/echo/stargazers" data-count-api="/repos/labstack/echo#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star labstack/echo on GitHub">
    Star
  </a>
  <span class="w3-xxlarge w3-hide-large" onclick="openSidenav()">&#9776;</span>
</nav>
