<span class="share">
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank">
        <i class="fa fa-facebook-square fa-2x"></i>
    </a>
    <a href="http://twitter.com/share?text={{ .Title }}&amp;url={{ .Permalink }}" target="_blank">
        <i class="fa fa-twitter-square fa-2x"></i>
    </a>
    <a href="https://plus.google.com/share?url={{ .Permalink }}" target="_blank">
        <i class="fa fa-google-plus-square fa-2x"></i>
    </a>
    <a class="ui reddit icon button" href="http://www.reddit.com/submit?url={{ .Permalink }}&amp;title={{ .Title }}" target="_blank">
        <i class="fa fa-reddit-square fa-2x"></i>
    </a>
</span>
