<nav class="w3-sidenav w3-border-right">
  <div class="w3-container">
    <button class="w3-btn w3-white w3-border w3-border-theme w3-round-xlarge" onclick="location.href='/support-echo';">
      <i class="fa fa-heart" aria-hidden="true"></i> Support Echo
    </button>
    {{ $currentNode := . }}
    <div class="menu">
      {{ range .Site.Menus.main }}
        <a{{ if or ($currentNode.HasMenuCurrent "main" .) ($currentNode.IsMenuCurrent "main" .) }} class="active"{{ end }} href="{{ .URL }}">
          {{ .Name }}
        </a>
      {{ end }}
    </div>
    <div class="sub-menu">
      {{ if .IsPage }}
        {{ range where .Site.Menus.main "Identifier" .Type }}
          <h3>{{ .Pre }} {{ .Name }}</h3>
          {{ range .Children }}
            <a{{ if $currentNode.IsMenuCurrent "main" . }} class="active"{{ end }} href="{{ .URL }}">
              {{ .Name }}
            </a>
          {{ end }}
        {{ end }}
      {{ end }}
    </div>
  </div>
</nav>
