<div class="topnav">
  <nav class="w3-content">
    <a href="/"><img class="logo" src="/images/logo.png" alt="Echo"></a>
    <span class="hide-small">
      <input id="search-box" type="text" class="w3-input" placeholder="Search...">
      <i class="fa fa-search"></i>
    </span>
    <span class="menu hide-small hide-medium">
      {{ $currentNode := . }}
      {{ range .Site.Menus.main }}
        <a{{ if or ($currentNode.HasMenuCurrent "main" .) ($currentNode.IsMenuCurrent "main" .) }} class="active"{{ end }} href="{{ .URL }}">{{ .Name }}</a>
      {{ end }}
    </span>
    <button class="hamburger hide-large" onclick="toggleSidenav()">
      <span></span>
    </button>
  </nav>
</div>
